@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans), sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-public-sans), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.background {
  background-image: url("https://i.ibb.co.com/mFqPVkKX/Vector-1.png"),
    url("https://i.ibb.co.com/ZRVZh23Y/Vector-7621.png");

  background-size: 150px auto, 420px auto;

  background-position: top center, bottom right;

  background-repeat: no-repeat, no-repeat;
}

.build-for-everyone {
  background-image: url("https://i.ibb.co.com/DD41MSL6/Frame-2147227474.png");
  background-size: 200px auto;
  background-repeat: no-repeat;

 
  background-position: calc(50% + 100px) bottom;
}

.background-footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://i.ibb.co.com/8FVZb3c/Vector-3.png"),
    url("https://i.ibb.co.com/4kMtdXz/Vector-2.png"),
    url("https://i.ibb.co.com/0R9PCYd1/Vector-4.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 250px auto, 250px auto, 80px auto;
  background-position: top right, bottom right 150px, bottom right;
  opacity: 0.2; /* ekhane opacity control koro */
  pointer-events: none; /* clickable hobe na */
  z-index: 0;
}

.build-for {
  background-image: 
    url("https://i.ibb.co/zVKFKB8d/Frame-2147227453.png"), 
    url("https://i.ibb.co/fdydp89k/Vector-7625.png"),      
    url("https://i.ibb.co/50GfWb6/Vector-7626.png");       

  background-repeat: no-repeat, no-repeat, no-repeat;

  
  background-size: 150px , 500px, 800px;


  background-position: 
    top 0px left 30px,      
    top 0px center 0px, 
    top 0px right -50px;      
}
